/* Add these styles for the buttons */
#header-bar {
    color: #fff;
    padding: 0px;
    text-align: left;
}

#view-options {
    display: inline-block;
    float: left;
}

/* Add these styles to your existing CSS file */
body.desktop {
    font-size: 16px;
}

body.tablet {
    font-size: 14px;
}

body.mobile {
    font-size: 12px;
}